body{
    background: #470343;
   }
   #container{
    width:400px;
    margin:0 auto;
    margin-top:20%;
   }
   /* Bordered form */
   form {
    width:70%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   #container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
   }
   
   /* Full-width inputs */
   input[type=text], input[type=password] {
    width: 95%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   /* Set a style for all buttons */
   input[type=submit] {
    background-color: #cc1595;
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
   }
   input[type=submit]:hover {
    background-color: white;
    color: #dd0a97;
    border: 1px solid #8a125c;
   }
   